.container{
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.startOptions{
  flex-direction: column;
}


.title {
  font-size: 4rem;
  color: #B4b4b4 ;
  padding: 5% 0 ;
}

.start {
  font-size: 2.1rem;
  border-radius: 30px;
  background-color:darkgrey ;
  margin-left: 2px;
  padding-left: 5px;
  padding-bottom: 7px;
  padding-right: 16px;

}

.start:hover {
  text-decoration: underline solid 3px;
  cursor: pointer;
  background-color: #A7E2F9;
}

.icons {
  width: 20px;
  height: 20px;
}

