.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.loader img {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}